.detail-video-wrapper {
  display: flex;
  width: 100%;
  .detail-video-ant-row {
    width: 100%;
    .video-big-view {
      display: flex;
      background: black;
      position: relative;
      .return-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background-color: rgba(114, 128, 144, 0.3);
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 1;
        &:hover {
          background-color: rgba(114, 128, 144, 0.2);
          cursor: pointer;
        }
      }
    }
    .review-section-wrapper {
      box-sizing: border-box;
      padding: 10px 16px;
      background: white;

      .review-section-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .video-information-container {
          margin-bottom: 15px;
          .user-information-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;
            .user-avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            .user-information {
              box-sizing: border-box;
              padding-left: 10px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              font-weight: 500;
              font-size: 15px;
              .user-name {

              }

              .posted-time {

              }

            }

          }
        }

        .review-section-body {
          color: #858585;
          .reaction-status {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
            .like {
              display: flex;
              align-items: center;
              .icon {
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: fit-content;
                width: fit-content;
                border-radius: 50%;
                background-color: rgba(242, 40, 81, 0.15)
              }

            }

            .comment-share {
              display: flex;
              .comment {
                margin-right: 10px;
              }
              .icon-wrapper {
                display: flex;
                align-items: center;
              }
            }
          }
          .comment-list-wrapper {
            box-sizing: border-box;
            padding-top: 10px;
            border-top: 0.5px solid #90959b;
            display: flex;
            flex-direction: column;
            .title {
              margin-bottom: 10px;
            }
            .list-of-comment {
              //display: flex;
              //flex-direction: column;
              height: 470px;
              overflow: auto;
            }
            .comment-editor {
              padding: 10px 0px 0px 0px;
              position: sticky;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              .input-field {
                border-radius: 16px;
              }
              .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                min-width: 35px;
                color: #08c;
                font-size: 15px;
                border-radius: 50%;
                margin-left: 5px;
                border: 0.5px solid rgba(48, 137, 204, 0.2);

                &:hover {
                  background-color: rgba(48, 137, 204, 0.1);
                  cursor: pointer;
                }
              }
            }
          }


        }
      }
    }
  }

}
.number-of-reaction {
  font-weight: 400;
  font-size: 15px;
  margin-left: 5px;
}
