#__next {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  background-color: white;

  .detail-layout {
    position: relative;
    display: flex;
    padding-left: 10%;
    min-height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    .detail-layout {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    .detail-layout {
      padding: 0;
    }
  }
}
