#__next {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  background-color: white;

  .detail-layout {
    position: relative;
    display: flex;
    padding: 0 13%;
    min-height: 100%;
  }

}

@media only screen and (max-width: 820px) {
  .wrapper {
    .detail-layout {
      //padding: 0;
    }
  }
}
