#__next {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  background-color: white;

  .detail-layout {
    position: relative;
    display: flex;
    padding: 0 13%;
    marginTop: 55px;
    min-height: 100%;
    .w-320 {
      width: 320px;
    }
  }

}

@media only screen and (max-width: 600px) {
  .wrapper {

    .detail-layout {
      padding: 0;
      .w-320 {
        display: none;
      }
    }
  }
}