.home-container {
  padding-bottom: 100px;
  width: 100%;
  margin-left: 35px;

  .home-mobile {
    display: none;
  }

  .home-list-video {
    margin-top: 30px;
    width: 100%;

    .item-video {
      display: flex;
      border-bottom: 1px solid gray;
      padding: 15px 0;

      .item-detail {
        margin-left: 13px;
        width: 90%;

        .name-shop {
          display: flex;
          justify-content: space-between;

          .ant-btn {
            border-color: rgba(254, 44, 85, 1);
            color: rgba(254, 44, 85, 1);
            border-radius: 4px;
          }

          .text {
            width: 50%;
            b {
              font-size: 18px;
              margin-right: 4px;
            }
            span {
              font-size: 14px;
            }
          }
          .button-view-detail {

          }
        }

        .introduce {
          width: 70%;
          .hashtag {
            display: -webkit-box;
            height: 16px*1.3*2;
            -webkit-line-clamp: 2;  /* số dòng hiển thị */
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 15px;
            line-height: 22px;
          }
        }

        .detail {
          display: flex;

          .video {
            background-color: black;
            height: 470px;
            width: 300px;
            overflow: hidden;
            border-radius: 12px;
          }

          .action {
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .group-action {
              .item-icon {
                .icon {
                  height: 48px;
                  width: 48px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #F1F1F2;
                }

                p {
                  margin-bottom: 2px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
