.sidebar-container {
  //width: 200px;
  margin-top: 42px;
  width: 320px;
  height: calc(100vh - 60px);
  background-color: gray;
  position: fixed;
  top: 20px

}

@media only screen and (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}

