.modal-notification-container {
  position: absolute;
  top: 45px;
  right: 50px;

  max-height: calc(100vh - 100px);
  width: 350px;
  z-index: 3;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 10px;
  overflow: scroll;

  .list-noti {
    .item-noti {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      border: solid 1px;
      border-bottom-color: #dedfe0 !important;
      border-top-color: white !important;
      border-left-color: white !important;
      border-right-color: white !important;
      padding-bottom: 7px;

      .item-text {
        width: 77%;

        .title {
          color: black !important;
        }

        .detail {
          color: #646161;
          font-size: 13px;
          overflow: hidden;
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          word-wrap: break-word;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          text-overflow: ellipsis;
          line-height: 19px;
        }
      }
    }
  }
}
